.product {
  margin-top: 28px;
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-top: 15px;
  }
  &__spans {
    padding: 22px 27px;
    background: #FFF;
    border-radius: 20px;
    display: flex;
  }
  &__span {
    color: $gray-product;
    max-width: 211px;
    width: 100%;
  }
}