.sales {
  &__container {
    padding: 33px 36px;
  }
  &__header {
    margin-top: 10px;
  }
  &__selects {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    max-width: 850px;
    margin-top: 17px;
    margin-bottom: 28px;
  }
  &__select {
    width: 100%;
  }
  &__select-wrapper {
    margin-top: 13px;
    position: relative;
  }
  &__arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__panel {
    display: flex;
    column-gap: 60px;
  }
  &__month {
    color: $light-gray;
  }
  &__current {
    margin-top: 14px;
  }
  &__quadro {
    width: 540px;
    display: flex;
    justify-content: center;
  }
  &__report {
    margin-top: 20px;
    display: flex;
    column-gap: 126px;
  }
  &__diagram-wrapper {
    height: 440px;
    width: 440px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__item {
    display: flex;
    column-gap: 18px;
  }
  &__span1 {
    background: $interface;
  }
  &__span2 {
    background: $light-blue;
  }
  &__span3 {
    background: $super-light-blue;
  }
  &__span4 {
    background: $blue;
  }

}