.category {
  margin-top: 28px;
  &__info {
    display: flex;
    column-gap: 20px;
  }
  &__link {
    color: $interface;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &__data {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__info-block {
    margin-top: 18px;
    padding: 28px 27px;
  }
  &__span {
    color: $gray-product;
  }
  &__photos {
    margin-top: 18px;
  }
}