.aside {
  width: 290px;
  height: 100vh;
  background: #FFF;
  position: absolute;
  padding: 32px 0;
  top: 0;
  display: inline-block;
  border-right: 1px solid black;
  &__logo {
    margin: auto;
    width: 196px;
    height: 72px;
  }

  &__menu {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    row-gap: 24px;
    flex-direction: column;
    margin-top: 67px;
    padding-left: 32px;
  }
  &__link {
    display: flex;
  }
  &__icon {
    width: 24px;
    display: flex;
    align-items: center;
  }
  &__svg {
    width: 24px;
    object-fit: cover;
  }
}