.aside {
  width: 290px;
  height: 100vh;
  background: #FFF;
  position: absolute;
  padding: 32px 0;
  top: 0;
  &__logo {
    margin: auto;
    width: 196px;
    height: 72px;
  }

  &__menu {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    row-gap: 24px;
    flex-direction: column;
    margin-top: 67px;
    padding-left: 32px;
  }
  &__link {
    display: flex;
    column-gap: 13px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: 24px;
    display: flex;
    align-items: center;
  }
  &__svg {
    width: 24px;
    object-fit: cover;
    display: none;
  }
  &__active {
    background: $interface;
    border-radius: 25px;
    height: 36px;
    width: 4px;
  }
  &__span {
    display: flex;
    align-items: center;
  }
  &__svg_active {
    display: block;
  }
  &__svg_none {
    display: none;
  }
}