.breadcrumb li:not(:last-child):after {
  content: ' /';
}

body {
  .breadcrumb {
    align-items: center;
    column-gap: 4px;
    margin-bottom: 0;
    .active {
      @include title14;
      color: $beige;
      line-height: 20px;
    }
    a {
      color: $beige;
      text-decoration: underline;
      text-underline-offset: 2px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}