.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  &__title {
    margin-top: 10px;
    margin-bottom: 0;
  }
  &__btns {
    display: flex;
    column-gap: 24px;
  }
  &__btn {
    width: 177px;
    column-gap: 10px;
  }
}