.pagination {
  justify-content: center;
  position: relative;
  margin-top: 30px;
  .pagination {
    column-gap: 12px;
    a, span {
      background-color: #F5F5F5;
      width: 25px;
      height: 25px;
      color: #404B52;
      font-size: 12px;
      font-style: normal;
      border-radius: 4px;
      font-weight: 500;
      line-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #EEE;
    }
    .three-dots {
      background-color: transparent;
      width: 9px;
      height: 25px;
      color: #404B52;
      border: none;
      display: flex;
      justify-content: center;
    }
    a:nth-child(3) {
      border: 1px solid #4B94B3;
      background-color: #009FE3;
      color: #FFF;
    }
  }
}