.leader {
  margin-top: 28px;
  padding-bottom: 120px;
  &__header {
    margin-top: 10px;
  }
  &__sub-title {
    margin-top: 10px;
  }
  &__wrapper {
    display: grid;
    column-gap: 30px;
    grid-template-columns: minmax(300px, 1112px) minmax(300px, 697px);
    margin-top: 20px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  &__info {
    padding: 23px 75px 37px 24px;
    display: flex;
    column-gap: 48px;
    position: relative;
  }
  &__menegers {
    padding: 25px 37px 26px 28px;
  }
  &__menegers {
    .title18 {
      line-height: 28px;
      color: #1A1C21;
    }
  }
  &__mengr-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 18px;
  }
  &__mengr-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__mengr-photo {
    width: 48px;
    height: 48px;
    img {
      border-radius: 8px;
    }
  }
  &__meneger {
    display: flex;
    column-gap: 16px;
  }
  &__mengr-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title12 {
      color: #7B809A;
      line-height: 140%;
    }
    .title14 {
      line-height: 140%;
      color: #344767;
    }
  }
  &__mengr-btns {
    width: 64px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    img {
      cursor: pointer;
    }
  }
}