* {
  font-family: DM Sans;
}
body {
  min-height: 100%;
  position: relative;
}
body {
  h1  {
    color: $header-title;
  }
  a {
    text-decoration: none;
    text-underline-offset: 2px;
  }

}


.navbar-expand-md {
  opacity: 0.3;
}