* {
  font-family: DM Sans;
}
body {
  overflow: hidden;
  min-height: 100%;
}
body {
  h1  {
    color: $header-title;
  }
  a {
    text-decoration: none;
  }
}


.navbar-expand-md {
  opacity: 0.3;
}