$interface: #009FE3;
$interface-hover: #14B4F9;
$header-title: #2B3674;
$text-gray: #A3AED0;
$light-gray: #9291A5;
$gray-hard: #64748B;
$attention: #FF5353;
$background: #F1F5F9;
$black: #0E0E0E;
$beige: #707EAE;
$light-blue: #9AE1FF;
$super-light-blue: #D8F3FF;
$blue: #028DC8;
$gray-product: #4C535F;
$input: #343434;
$gray13: #3A3A49;